* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #050b1e;
    color: #ffffff;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: rgba(13, 25, 61, 0.9);
    position: sticky;
    top: 0%;
    z-index: 1000;
}

.logo img {
    width: 90px;
}

nav a {
    color: #cfd8ff;
    margin-left: 25px;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #4de3ff;
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(135deg, #0d1b4c, #08102f);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 52px;
    color: #4de3ff;
}

.hero img {
    margin-bottom: 25px;
    width: 40%;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.btn {
    padding: 12px 30px;
    background: #4de3ff;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
}

/* Sections */
section {
    padding: 80px 8%;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    color: #4de3ff;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    padding: 40px 20px;
    border-radius: 16px;
    text-align: center;
    backdrop-filter: blur(10px);
    transition: 0.4s;
    cursor: pointer;
}

.card i {
    font-size: 40px;
    color: #4de3ff;
    margin-bottom: 15px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(77, 163, 255, 0.4);
}

/* About */
#about p {
    max-width: 800px;
    margin: auto;
    text-align: center;
    line-height: 1.8;
    color: #cfd8ff;
}

/* Footer */
.footer {
    background: #060f2c;
    padding-top: 30px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    padding: 0 60px;
}

.footer img {
    width: 120px;
    height: auto;
}

.footer h3 {
    color: #4de3ff;
    margin-bottom: 15px;
}

.footer p {
    font-size: 14px;
    line-height: 1.6;
}

.footer a {
    color: #cfd8ff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

/* Social Links */
.social-links {
    margin-top: 15px;
}
.social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    background: #0b1d4a;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
}

.social-links a:hover {
    background: #4dabff;
    color: #000;
}

/* Middle Links */
.footer-box ul {
    list-style: none;
}

.footer-box ul li {
    margin: 8px 0;
}

.footer-box ul li a {
    color: #fff;
    transition: 0.3s;
}

.footer-box ul li a:hover {
    color: #4dabff;
    padding-left: 6px;
}

.courses-list li { 
    cursor: pointer;
    list-style: disc;
    margin: 8px 0;
    color: #cfd8ff;
}

.courses-list li:hover {
    color: #4dabff;
    padding-left: 6px;
}

/* Contact Form */
.footer-form input,
.footer-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background: #0b1d4a;
    color: #fff;
    border-radius: 6px;
    resize: none;
}

.footer-form button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #4dabff, #0066ff);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.footer-form button:hover {
    background: linear-gradient(135deg, #0066ff, #4dabff);
    transform: translateY(-2px);
}

/* Bottom */
.footer-bottom {
    margin-top: 40px;
    background: #03081a;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}